rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /user/{userId} {
      function allowAccess() {
        return request.auth != null && userId == request.auth.uid;
      }

      allow read, create, update: if allowAccess();

      match /round/{roundId} {
        allow read, write: if allowAccess();
      }
    }
  }
}